/*regole di reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
}

/*regole generali*/

body {
    font-family: sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
}

*[class^='col-'] {
    padding: 10px;
}

.col-12 {
    flex-basis: 100%;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4 );
}

.col-8 {
    flex-basis: calc((100% / 12) * 8 );
}

/*header*/

.page-header {
    font-size: 18px;
    font-weight: 200;
}

.container-fluid {
    margin: 0 auto;
    max-width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 15px;
}

.nav_list{
    display: flex;
    align-items: center;
}

.link {
    padding: 0 8px; 
    line-height: 1.8em;
    display: inline-block;
}

.button {
    background-color: #0061ff;
    line-height: 1.8em;
    color: white;
    padding: 0 8px;
    display: inline-block;
    margin-left: 8px; 
}

/*Hero*/

.hero-section {
    background-color: #b4d0e7;
}

.container-large {
    max-width: 1500px;
    margin: 0 auto;
}

.page-title {
    font-size: 80px; 
    font-weight: 900;
}

/*DEBUG*/
.debug .container, .debug .container-fluid {
    background-color: beige;
}

.debug .row, .debug .nav {
    background-color: aqua;
    border: 1px solid blue;
    padding: 30px;
}

.debug *[class^='col-'], .debug .nav_list {
    background-color: red;
    border: 1px dashed brown;
    padding: 30px;
}